@import '../mixins/title-decoration.scss';
.projects {
  max-width: 95em;
  margin: 0 auto;
  position: relative;
  &__title{
    text-align: center;
    h1 {
      @include title-decoration
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    gap: 1em;
  }
  &__card {
    opacity: 0;
    transition: all 700ms ease-in;
    border: 1px double $first-color;
    padding: .5em;
    border-radius: .5em;
    position: relative;
    height: 300px;
    &-visible {
      opacity: 1;
    }
    &:hover &-description {
      opacity: 1;
      background-color: rgba($first-color, .6);
      cursor: pointer;
    }
    &-img {
      img {
        min-height: 283px;
        max-height: 283px;
        object-fit: cover;
      }
    }
    &-description {
      margin: .5em;
      position: absolute;
      padding: .5em;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 500ms ease-in-out;
      color: $white-color;
      width: 95%;
      height: 95%;
      font-weight: 600;
      text-shadow: 1px 1px 3px black;
      h3 {
        font-size: $h3;
      }
    }
    &-demo , &-git {
      margin-top: 2em;
      padding: 0em .5em;
      font-size: .95em;
      float: right;
      position:relative;
      border-radius: .25em;
      &:hover {
        opacity: .8;
      }
    }
    &-demo {
      background-color: $third-color;
      color: $white-color;
    }
    &-git {
      margin-right: .5em;
      background-color: $gray-alpha-color;
      color: $white-color;
    }
  }
}

@media screen and (max-width: 960px){
  .projects {
    &__title{
      h1 {
        &:after , &::before {
          width: 80px;
        }
  
        &::before {
          left: -100px;
        }
  
        &::after {
          right: -100px;
        }
      }
    }
  }
}