/******************************\
    Base del html
\******************************/
@font-face {
    font-family: Roboto;
    //src: url('../../plugins/fonts/Roboto-Regular.ttf');
}



/*
1. Evite que el relleno y el borde afecten el ancho del elemento. (https://github.com/mozdevs/cssremedy/issues/4)
2. Permita agregar un borde a un elemento simplemente agregando un ancho de borde. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

/*
1. Use una altura de línea sensible y consistente en todos los navegadores.
2. Evite los ajustes del tamaño de fuente después de los cambios de orientación en iOS.
3. Use un tamaño de pestaña más legible.
4. Utilice la familia de fuentes `sans` configurada por el usuario de forma predeterminada.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Eliminar el margen en todos los navegadores.
2. Hereda la altura de línea de `html` para que los usuarios puedan configurarlos como una clase directamente en el elemento `html`.
*/
body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
  color: $gray-alpha-color;
}

/*
1. Agregue la altura correcta en Firefox.
2. Corregir la herencia del color del borde en Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Asegúrese de que las reglas horizontales estén visibles de forma predeterminada.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}
/*
Agregue la decoración de texto correcta en Chrome, Edge y Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Elimine el tamaño y el peso de fuente predeterminados para los encabezados.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Restablezca los enlaces para optimizar el estilo de inclusión voluntaria en lugar de la exclusión voluntaria.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Agregue el peso de fuente correcto en Edge y Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Utilice la familia de fuentes `mono` configurada por el usuario de forma predeterminada.
2. Corrija el tamaño de fuente `em` impar en todos los navegadores.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Agregue el tamaño de fuente correcto en todos los navegadores.
*/

small {
  font-size: 80%;
}

/*
Evite que los elementos `sub` y `sup` afecten la altura de la línea en todos los navegadores.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Elimine la sangría de texto del contenido de la tabla en Chrome y Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Corregir la herencia del color del borde de la tabla en todos los Chrome y Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Elimine los espacios entre los bordes de la tabla de forma predeterminada.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Cambie los estilos de fuente en todos los navegadores.
2. Elimina el margen en Firefox y Safari.
3. Eliminar el relleno predeterminado en todos los navegadores.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Elimina la herencia de la transformación de texto en Edge y Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Corrija la imposibilidad de aplicar estilo a los tipos en los que se puede hacer clic en iOS y Safari.
2. Eliminar los estilos de botones predeterminados.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use el estilo de enfoque moderno de Firefox para todos los elementos enfocables.
*/

:-moz-focusring {
  outline: auto;
}

/*
Elimina los estilos `:invalid` adicionales en Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Agregue la alineación vertical correcta en Chrome y Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Corrige el estilo del cursor de los botones de incremento y decremento en Safari.
*/
summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}