
/*
 * Colores
 */

  $first-color: #3498DB;
  $first-alpha-color: #85C1E9;
  $second-color: #154360;
  $second-alpha-color: #1F618D;
  $third-color: #DE3163;
  $third-alpha-color: rgb(209, 85, 120);

  $white-color: #F7F9F9;
  $black-color: #212F3D;

  $gray-color: #444649;
  $gray-alpha-color: #616161;

